<a href="https://colab.research.google.com/github/OttaviaFeletig/data-science-with-python/blob/main/Learning_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1
years = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
ages = []
for year in years:
  ages.append(2020 - year)
print(ages)

[21, 25, 15, 10, 13, 14, 26, 24, 41, 12]

In [4]:
# Q2

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()
print(ages)
ages.remove(ages[0])
ages.remove(ages[len(ages) - 1])
print(ages)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25]

In [ ]:
# Q3