<a href="https://colab.research.google.com/github/OttaviaFeletig/data-science-with-python/blob/main/Learning_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python exercises

## Basic

### 1

In [ ]:
years = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
ages = []
for year in years:
  ages.append(2020 - year)
print(ages)

[21, 25, 15, 10, 13, 14, 26, 24, 41, 12]

### 2

In [ ]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()
print(ages)
ages.remove(ages[0])
ages.remove(ages[len(ages) - 1])
print(ages)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25]

### 3

In [5]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

def find_common(berlin, munich):
  common_ages = []
  for age_berlin in berlin:
    for age_munich in munich:
      if age_berlin == age_munich:
        common_ages.append(age_berlin)
  return common_ages
common_ages = find_common(berlin, munich)
print(common_ages)

[15, 13, 16, 18, 19, 10]

### 4

In [ ]:
duplicates = [15,13,16,18,19,15,10,15]
unique_values = []
i = 0
j = 1
while i < len(duplicates):
  print("i",i)
  while j < len(duplicates):
    if i != j:
      if duplicates[i] != duplicates[j]:
        if unique_values.count(duplicates[i]) <= 0:
          unique_values.append(duplicates[i])
    j += 1
    if j == 7:
      j = 1
      break
    if i == (len(duplicates) - 1):
      break
    
    #print("j",j)
    
  i += 1


print(unique_values)

i 0
i 1
i 2
i 3
i 4
i 5
i 6
[15, 13, 16, 18, 19, 10]

In [3]:
duplicates = [15,13,16,18,19,15,10,15]
unique_values = []

for n in duplicates:
  if unique_values.count(n) <= 0:
    unique_values.append(n)
print(unique_values)

[15, 13, 16, 18, 19, 10]

In [4]:
list(set(duplicates))

[10, 13, 15, 16, 18, 19]

### 5

In [ ]:
def is_age_present(list, age):
  if list.count(age) > 0:
    return True
  else:
    return False
print(is_age_present([15,13,16,18,19,15,10], 15))
print(is_age_present([15,13,16,18,19,15,10], 28))

## Intermediate

### 1

In [11]:
def find_outlier(array):
  even = []
  odd = []
  for n in array:
    if (n % 2 > 0):
      odd.append(n)
    else:
      even.append(n)
  if (len(even) == 1):
    print(even[0])
  else:
    print(odd[0])

find_outlier([2, 4, 0, 100, 4, 11, 2602, 36])
find_outlier([160, 3, 1719, 19, 11, 13, -21])
find_outlier([2, 4, 6, 8, 10, 3])

11
160
3

### 2

In [18]:
def array_diff(list_1, list_2):
  final_list = []
  for a in range(len(list_1)):
    if (not list_2.count(list_1[a]) > 0):
      final_list.append(list_1[a])
  print(final_list)
array_diff([1,2, 1, 1],[1])
array_diff([1,2,2], [2])

[2]
[1]

In [38]:
def array_diff(list1, list2):
  return [i for i in list1 if i not in list2]
print(array_diff([1,2, 1, 1],[1, 1, 3]))
print(array_diff([1,2,2], [2]))

[2]
[1]

### 3